.brandLink {
  text-decoration: none;
  color: rgba(255,255,255,.55);
  margin: .5rem 2rem;
  font-size: x-large;
}
.brandLink:hover {
  color: coral;
}
.link, .nav-link {
  display: inline;
  text-decoration: none;
  color: rgba(255,255,255,.55);
  align-self: center;
  margin: 0 .5rem;
}
.link:hover, .nav-link:hover {
  color: coral;
}
.currentLink {
  text-decoration: none;
  color: coral;
}
.alert {
  margin-bottom: 0%;
}
.dropdown-link{
  text-decoration: none;
  color:darkgrey;
  align-self: stretch;
}
.dropdown-link:hover {
  color: coral;
}
.dropdown-item {
  color: inherit;
  background-color: inherit;
}
.dropdown-item:hover {
  color: inherit;
  background-color: inherit;
}
